<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.test.mapper.LuoxtestMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.test.entity.Luoxtest">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="email" property="email" jdbcType="VARCHAR" />
    </resultMap>

    <sql id = "Base_Column_List">
        id,name,age,email
    </sql>

    <select id="getNameById" resultType="String">
        select name from luoxtest
        where id = #{luoxtestId}
    </select>


    <select id="getLuoxtestByName" resultMap="BaseResultMap">
<!--    <select id="getLuoxtestByName" resultType="com.example.demo.test.entity.Luoxtest">-->
        select * from luoxtest
        where name = #{name}
    </select>

</mapper>
