<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.modules.sys.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.sys.User">
        <id column="id" property="id"/>
        <result column="delete" property="delete"/>
        <result column="remarks" property="remarks"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="card_number" property="cardNumber"/>
        <result column="department" property="department"/>
        <result column="position" property="position"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="email" property="email"/>
        <result column="id_number" property="idNumber"/>
        <result column="birthday" property="birthday"/>
        <result column="emergency_contact" property="emergencyContact"/>
        <result column="emergency_contact_phone" property="emergencyContactPhone"/>
        <result column="face_picture" property="facePicture"/>
        <result column="log_status" property="logStatus"/>
        <result column="log_last_time" property="logLastTime"/>
        <result column="log_error_number" property="logErrorNumber"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        delete,
        remarks,
        create_time,
        update_time,
        user_name, password, name, sex, age, card_number, department, position, phone_number, email, id_number, birthday, emergency_contact, emergency_contact_phone, face_picture, log_status, log_last_time, log_error_number
    </sql>

    <select id="test" resultType="Integer">
        select count(0) from sys_user
    </select>

</mapper>
